@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

#app,
body,
.page {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 241, 247);
}

.page {
  max-width: 1220px;
  margin: 0 auto;
  padding: 1.5rem 0;
}